page-nature {
  ion-content{
    background-image: url("../../assets/imgs/pexels-photo-259707.jpeg");
    background-size: cover;
  }
  .toolbar-background {
    background-color: rgb(214, 205, 205);
  }
}
