page-sports {
  ion-content{
    background-image: url("../../assets/imgs/spot-runs-start-la.jpg");
    background-size: cover;
  }
  .toolbar-background {
    background-color: rgb(214, 205, 205);
  }
}
